.idea/
graph_MUTAG.html
graph_DD.html
__pycache__/*
result/
test_mutag.npy
.ipynb_checkpoints/* 
PatchyTools/.ipynb_checkpoints/*
PatchyTools/__pycache__/Patchy_san.cpython-36.pyc
PatchyTools/__pycache__/*
__pycache__/utils_caps.cpython-36.pyc
